@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
/*
    background-image: linear-gradient(180deg, #ffffff, #1a191c29);
    background-attachment: fixed;
    */
}

#header{
    display: flex;
    justify-content: space-between;
    padding: .2rem;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.189);
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000;
}

#logoe{
    width: 110px;
}

#logos{
    color: rgba(0, 255, 255, 0);
}

#sSite{
    text-decoration: none;
    background: #ffffff;
    display: block;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.189);
    margin-right: 10px;
}

#areaSite{
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

/* Boas vindas */

#boasVindas{
    display: flex;
    align-items: center;
}

#boasVindas h3{
    margin-bottom: -10px;
}

#areaTexto{
    margin-left: 15px;
}

/* Area fotos */

#eSpacoFotos{
    margin: 10px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  /* info */

  #infoDois{
    display: flex;
    flex-wrap: wrap;
  }

  #infoDois > div{
    flex: 1 1 80px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.035);
    cursor: pointer;
  }

  #infoDois > div:hover{
    background: rgba(0, 0, 0, 0.107);
  }

  #infoDois img{
    width: 50px;
  }

  /* area popup */

  #end{
    display: none;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 10000;
  }

  #endDois{
    background: #ffffff;
    max-width: 500px;
    border-radius: 10px;
    margin: auto;
    margin-top: 15%;
    border: 1px solid rgba(0, 0, 0, 0.381);
  }

  #menuEnd{
    background: black;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  #fechar{
    margin: .5rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
  }

  #sT{
    color: #ffffff00;
  }

  #dacor{
    color: #ffffff;
  }

  #menuEnd a{
    padding: 10px;
    text-decoration: none;
  }

  #endTres{
    text-align: center;
  }

  #endTres h2{
    margin-top: -5px;
  }

  #endTres p{
    text-align: left;
    margin-left: 20px;
  }

  #maps{
    margin-bottom: 10px;
    background: black;
    color: #ffffff;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 10px;
  }

  /*Preços e serviços*/

  #servDois img{
    width: 140px;
    border-radius: 10px;
    margin: 10px;
  }

  #servTres{
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.035);
    border-radius: 10px;
    margin: 10px;
  }
  #servTres:hover{
    background: rgba(0, 0, 0, 0.176);
  }

  #servTres h2{
    margin-top: -10px;
    margin-bottom: -10px;
  }

  /* horario de funcionamento */
  #estabelecimento{
    text-align: center;
  }

  @media(max-width: 500px) {
    #endDois{
        background: #ffffff;
        border-radius: 10px;
        margin: 20px;
        margin-top: 40%;
      }
  }